@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700&display=swap');


:root{
    --primary-color:#7C3AED;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* container */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}


hr{
    margin: 3rem 0rem;
}
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* look into BEM naming convection for CSS */

.non-bullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding:0rem 0.5rem;
}